.button {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	cursor: pointer;
}

.button--short,
.button--medium {
	border-radius: 24px;
	padding: 12px 24px;
	font-size: 15px;
	line-height: 20px;
}

.button--large {
	max-width: 274px;
	border-radius: 36px;
	font-size: 18px;
	line-height: 24px;
	padding: 16px 32px;
}

.button__icon {
	margin-right: 9px;
	vertical-align: sub;
}
 
.button--primary {
	background: #fff;
	border: 2px solid var(--primary-border-color);
	margin-right: 10px;
}

.button--primary:hover {
	border: 2px solid var(--primary-border-color-hover);
}

.button--primary:active {
	transform: scale(0.9);
	border: 2px solid var(--primary-border-color-pressed);
}

.button--secondary {
	background: var(--secondary-color);
	color: #fff;
}

.button--secondary:hover {
	background: var(--secondary-hover);
}

.button--secondary:active {
	transform: scale(0.9);
	background: var(--secondary-pressed);
}

.button--tertiary {
	border: none;
	color: #fff;
	background: var(--tertiary-color);
}

.button--tertiary:hover {
	background: var(--tertiary-hover)
}

.button--large:active {
	transform: scale(0.9);
	background: var(--tertiary-pressed);
}
