* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;    
}

html {
	font-family: 'Gilroy';
}

.header-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 40px;
}

.main-info {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 0 140px;
}

.main-info h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	line-height: 68px;
	margin-bottom: 16px;
}

.main-info p {
	margin-bottom: 32px;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	color: var(--secondary-hover);
}

