.menu-content {
	display: flex;
	
}

.menu-content li {
	list-style: none;
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	cursor: pointer;
}

.menu-content > li {
	margin-right: 40px;
}

.menu-content li:last-child {
	margin-right: 0;
}

.menu-content li:hover {
	color: var(--secondary-hover);
}

.menu-content li:active {
	transform: scale(0.9);
}